/* Grid creator mixin - $gutter-vertical and $gutter-horizontal are usually identical, but don't have to be.*/
@mixin gridcreator($gutter-vertical, $gutter-horizontal) {

  > .l-grid__row {
    margin-left: -$gutter-horizontal/2 rem;
    margin-right: -$gutter-horizontal/2 rem;

    > .l-grid__item {
      padding: $gutter-vertical/2 rem $gutter-horizontal/2 rem;
      float: left !important;
      line-height: 1.5 !important;
    }
  }
}

// general grid props
.l-grid,
.l-grid__row {
  @extend %clearfix;
  display: block !important;
  position: relative !important;
}

// here we initiate our grid(s)
.l-grid {
  @include gridcreator(0, 0);
}

.l-grid--gutter {
  @include gridcreator(1, 1);
}

.l-grid--equal-height {

  > .l-grid__row {
    display: flex !important;

    > .l-grid__item {
      flex: 1 0 auto !important;
    }
  }

  .l-grid {
    height: 100% !important;

    > .l-grid__row {
      display: flex !important;
      flex-direction: column !important;
      height: 100% !important;

      > .l-grid__item {
        flex: 1 !important;
        flex-grow: 1 !important;
        flex-shrink: 0 !important;
      }
    }
  }
}

