* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  color: #000000;
}

label{
  font-weight: normal;
  word-wrap: break-word;
}

input[readonly]{
  cursor: not-allowed;
  background:#EEEEEE;
}

input[disabled]{
  cursor: not-allowed;
  background:#EEEEEE;
}

input[readonly='readonly'],
input[disabled='disabled']{
  cursor: not-allowed;
  background:#EEEEEE;
}

input[type='radio'] {
  margin-right: .25rem;
  margin-bottom: 1rem;
}

html {
  font-size: 1em;
  line-height:1.5;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCC;
  margin: 1em 0;
  padding: 0;
}

del {
  color: #CCC;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Links
 */

a,
a:visited {
  text-decoration: none;
}

/*
 *  responsive images
 */

img {
  max-width: 100% ;
  height: auto;
}

ul,
li {
  list-style-type: none;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  padding:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0 0 1rem 0;
}

p,
div.p {
  word-break: break-word;
  margin: 0 0 1rem 0;
}

/* TYPOGRAPHY */

h1 {
  font-size: $h1-size;
}
h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}
