// fallbacks, custom webfonts, ...

$font-arial: 'Arial', 'Verdana', 'Helvetica', sans-serif;

$themepath_base: './';

@font-face {
    font-family: 'Interstate-ExtraLightItalic';
    src: url( $themepath_base +'fonts/Interstate-ExtraLightItalic.eot');
    src: url( $themepath_base +'fonts/Interstate-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url($themepath_base +'fonts/Interstate-ExtraLightItalic.woff2') format('woff2'),
        url($themepath_base +'fonts/Interstate-ExtraLightItalic.woff') format('woff'),
        url($themepath_base +'fonts/Interstate-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
