label {
  font-weight: normal; // or all text wrapped by a label is bold...
}

legend {
  font-size: 0.8em;
}

.placeholder {
  color: #858585;
}

::-webkit-input-placeholder {
  color: #858585;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #858585;
}

.element-invisible {
  display: none;
}
