.hidden {
  display: none !important;
  visibility: hidden;
}

.mobile-hidden{
  @include respond-to( 'mobile-only') {
    display: none !important;
  };
}

.tablet-hidden{
  @include respond-to( 'tablet-only' ) {
    display: none !important;
  };
}

.desktop-hidden{
  @include respond-to( 'desktop-only' ) {
    display: none !important;
  };
}

.invisible {
  visibility: hidden !important;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  line-height: 0;
  display: table;
}

.clearfix:after {
  clear: both;
}

// usage: @extend %clearfix;
%clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}
