/*
  $condition can be any of these sizes:
  - very-small
  - small
  - small-medium
  - medium
  - medium-large
  - large
  - very-large

  - only-very-small
  - only-small
  - only-small-medium
  - only-medium
  - only-medium-large
  - only-large
  - only-very-large

  (or these 'shortcuts':)
  - mobile
  - tablet
  - desktop

  - only-mobile
  - only-tablet
  - only-desktop

  - a breakpoint or a HTML class (IE, modernizr class)
*/

// @include respond-to( );
@mixin respond-to( $condition ) {
  //
  // sizes
  //
  @if $condition == 'initialize' { @media only screen and ( min-width: 1px ){ @content; } }
  @if $condition == 'very-small' { @media only screen and ( min-width: $break-very-small ) { @content; } }
  @if $condition == 'small' { @media only screen and ( min-width: $break-small ) { @content; } }
  @if $condition == 'small-medium' { @media only screen and ( min-width: $break-small-medium ) { @content; } }
  @if $condition == 'small-portrait' { @media only screen and ( min-width: $break-very-small) and ( max-width: $break-small-medium ) and (orientation : portrait) { @content; } }
  @if $condition == 'medium' { @media only screen and ( min-width: $break-medium ) { @content; } }
  @if $condition == 'medium-large' { @media only screen and ( min-width: $break-medium-large ) { @content; } }
  @if $condition == 'large' { @media only screen and ( min-width: $break-large ) { @content; } }
  @if $condition == 'very-large' or  $condition ==  'very-large-only' { @media only screen and ( min-width: $break-very-large ) { @content; } }

  //
  // only-sizes
  //

  @if $condition ==   'very-small-only' { @media only screen and ( min-width: $break-very-small ) and ( max-width: $break-small ) { @content; } }
  @if $condition ==   'small-only' { @media only screen and ( min-width: $break-small ) and ( max-width: $break-small-medium )  { @content; } }
  @if $condition ==   'small-medium-only' { @media only screen and ( min-width: $break-small-medium ) and ( max-width: $break-medium )  { @content; } }
  @if $condition ==   'medium-only' { @media only screen and ( min-width: $break-medium ) and ( max-width: $break-medium-large )  { @content; } }
  @if $condition ==   'medium-large-only' { @media only screen and ( min-width: $break-medium-large ) and ( max-width: $break-large )  { @content; } }
  @if $condition ==   'large-only' { @media only screen and ( min-width: $break-large ) and ( max-width: $break-very-large )  { @content; } }

  //
  // shortcut sizes
  //
  @if $condition ==   'smallest-mobile' { @media only screen and ( min-width: 0 ) and ( max-width: $break-small ) { @content; } }
  @if $condition == 'mobile' { @media only screen and ( min-width: $break-mobile ) { @content; } }
  @if $condition == 'tablet' { @media only screen and ( min-width: $break-tablet ) { @content; } }
  @if $condition == 'desktop' or $condition == 'desktop-only' { @media only screen and ( min-width: $break-desktop ) { @content; } }

  //
  // only-shortcut sizes
  //
  @if $condition == 'mobile-only' { @media only screen and ( min-width: $break-mobile ) and ( max-width: $break-tablet ) { @content; } }
  @if $condition == 'tablet-only' { @media only screen and ( min-width: $break-tablet ) and ( max-width: $break-desktop ) { @content; } }

  //
  // make it happen if the browser doesn't understand mediaqueries:
  // ... unless using an -only respond-to:
  //
  @if $condition !=  'very-small-only' and
    $condition != 'small-only' and
    $condition != 'small-medium-only' and
    $condition != 'medium-only' and
    $condition != 'medium-large-only' and
    $condition != 'large-only' and
    $condition != 'very-large-only' and
    $condition != 'mobile-only' and
    $condition != 'smallest-mobile' and
    $condition != 'tablet-only' and
    $condition != 'ie9' and
    $condition != 'lt-ie9'
  {
    .no-mq & {
      @content;
    }
  }

  //
  // IE
  //
  @if $condition ==  'ie9'{
    .ie9 &  {
      @content;
    }
  }

  @if $condition ==  'lt-ie7'{
    .lt-ie7 &  {
      @content;
    }
  }
  @if $condition ==  'lt-ie8'{
    .lt-ie8 &  {
      @content;
    }
  }
  @if $condition ==  'lt-ie9'{
    .lt-ie9 &  {
      @content;
    }
  }
  @if $condition ==  'no-svg'{
    .no-svg &  {
      @content;
    }
  }
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@function url-encode($string) {
  $map: (
          "%": "%25",
          "<": "%3C",
          ">": "%3E",
          " ": "%20",
          "!": "%21",
          "*": "%2A",
          "'": "%27",
          '"': "%22",
          "(": "%28",
          ")": "%29",
          ";": "%3B",
          ":": "%3A",
          "@": "%40",
          "&": "%26",
          "=": "%3D",
          "+": "%2B",
          "$": "%24",
          ",": "%2C",
          "/": "%2F",
          "?": "%3F",
          "#": "%23",
          "[": "%5B",
          "]": "%5D"
  );
  $new: $string;
  @each $search, $replace in $map {
    $new: str-replace($new, $search, $replace);
  }
  @return $new;
}

//@include content:svg();
@function svg($string) {
  @return url('data:image/svg+xml;charset=US-ASCII,#{url-encode($string)}');
}

//@include center(xy);
@mixin center($position) {
  position: absolute;

  @if $position == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }
  @else if $position == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
  @else if $position == 'xy' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//@include link(red, blue, blue, green);
@mixin link($link, $visited, $hover, $active) {
  & {
    color: $link;
    transition: color .3s ease;

    &:visited {
      color: $visited;
    }
    &:hover {
      color: $hover;
    }
    &:active, &:focus {
      color: $active;
    }
  }
}

//https://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css
//@placeholder {red, blue, blue, green};
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
