/**
 * Base stuff
 */
$base-font-size:        16px!default;
$base-line-height:      1.5!default;

/**
 * Font-sizes (in pixels).
 */
$h1-size:               36px!default;
$h2-size:               30px!default;
$h3-size:               24px!default;
$h4-size:               20px!default;
$h5-size:               16px!default;
$h6-size:               14px!default;

$font-size-very-small:      12px!default;
$font-size-small:           14px!default;
$font-size-regular:         16px!default;
$font-size-medium:          18px!default;
$font-size-large:           24px!default;
$font-size-very-large:      40px!default;

/**
 * Responsive stuff
 */
$break-very-small:          20em!default; // 320 @ 16px
$break-small:               30em!default; // 480 @ 16px
$break-small-medium:        40em!default; // 640 @ 16px
$break-medium:              50em!default; // 800 @ 16px
$break-medium-large:        60em!default; // 960 @ 16px
$break-large:               70em!default; // 1120 @ 16px
$break-very-large:          80em!default; // 1280 @ 16px

$break-mobile:              0!default; /* No media query since this is the default */
$break-tablet:              $break-small-medium!default; //  640 @ 16px
$break-desktop:             $break-medium-large!default; // 960 @ 16px
