// global settings
@import "../base/colors";

.m-application {
  font: 100% Verdana, sans-serif;
  height: 100%;

  .m-application__repository {
    height: 100%;
  }
}

.m-application__container {
  height: 100%;
  border: 3px solid green;
  .m-application__topbar {
    width: 100%;
    background-color: $formula_green;
  }

  button {
    background-color: $formula_green;
    color: white;
    overflow: hidden;
    border: none;
    padding: 5px;
  }
}

.m-application__content {
  background: rgba(255, 255, 255, 0.95);
  height: 100%;
  .m-application__mainRow {
    height: 100%;
  }
}

.m-application__background {
  background-color: black;
  background-image: url("/static/images/login_bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


