.m-edit {
  margin-bottom: 2%;

  button {
    width: 100%;
  }

  .m-edit__addFolder {
    width: 100%;
  }

  form {
    width: 100%;
  }

  input {
    width: 100%;
  }

  input[type="file"] {
    display: none;
  }

  .m-edit__uploadFile {
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    label {
      width: 100%;
      height: 90px;
      input {
        width: 100%;
        height: 100%;
      }
    }
    button {
      width: 100%;
      height: auto;
    }
  }
}
