@import "../base/colors";
@import "../base/settings";

.m-filedetail {
  background-color: whitesmoke;
  width:100%;
  height: 100%;

  .m-filedetail__header {
    font-weight: bold;
    overflow: hidden;
    padding-left: 15px;
  }
  .m-filedetail__detailItemTitle {
    overflow: hidden;
    font-weight: bold;
    font-size: $font-size-small;
    padding-left: 15px;
    padding-right: 20px;
    width:100%;
  }
  .m-fileDetail__detailItemTagList {
    overflow: hidden;
    padding-right: 20px;
    height: 1.2rem;
    font-weight: lighter;
    font-size: $font-size-small;
    color: $formula_green;
    margin-bottom: 5px;
    width:100%;
  }
}
