@import "../base/colors";

.m-file {
  height: 70%;
  //border: 5px solid blue;

  .m-file__row {
    width: 100%;
    //border: 5px solid red;
  }

  .m-file__rows {
    //border: 5px solid black;
    overflow-y: scroll;
    height: 85%;
  }

  .m-file__item {
    height: inherit;
    overflow: hidden;
    width: 100%;
  }

  .m-file__folder {
    background: url("/svg-src/Font-Awesome/folder-o.svg");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: whitesmoke;
    padding-left: 17%;
    padding-top: 5px;
    padding-right: 5px;
    overflow: hidden;
    height: 75px;
    width: 100%;
    margin-bottom: 2px;
    &--selected {
      background: url("/svg-src/Font-Awesome/folder-o.svg");
      background-size: 15%;
      background-repeat: no-repeat;
      background-position: top left;
      background-color: $formula_green;
      padding-left: 17%;
      padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      overflow: hidden;
      height: 75px;
      margin-bottom: 2px;
    }
    .m-file__folderText {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: top left;
    }
  }
  .m-file__file {
    background: url("/svg-src/Font-Awesome/file-o.svg");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: whitesmoke;
    padding-left: 17%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    width: 100%;
    height: 75px;
    margin-bottom: 2px;
    &--selected {
      background: url("/svg-src/Font-Awesome/file-o.svg");
      background-size: 15%;
      background-repeat: no-repeat;
      background-position: top left;
      background-color: $formula_green;
      padding-left: 17%;
      padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      overflow: hidden;
      width: 100%;
      height: 75px;
      margin-bottom: 2px;
    }
  }
}
