.m-filter__container {
  .m-filter__itemList {
    height: 100px;
    overflow-y: scroll;
  }
  .m-filter__item {
    font-size: 10px;
    height: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .m-filter__filterButton {
    margin-left: -2%;
  }
}
