@import "../base/fonts";
@import "../base/settings";

.m-loginForm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;

  .m-loginForm__header {
    font-size: $font-size-large;
    text-align: center;
    margin-bottom: 45px;
  }
  .m-loginForm__fieldLabel {
    text-align: left;
    padding-top: 10px;
    align-items: right;
    .m-loginForm__input {
      margin-left: 5px;
    }
  }

  .m-loginForm__button {
    width: 30%;
    margin-left: 50%;
  }
}
