// Example module
//
// This section demonstrates the use of our BEM approach
//
// default - This is the default state
// .m-box--centered - A modifier
// .is-disabled - A state
// .m-box__header - A component header
// .m-bod__body - A component body
//
// Markup:
// <div class="m-box {$modifiers}">
//   <div class="m-box__header">headertext</div>
//    <div class="m-box__body">body content</div>
//  </div>
//

.m-box { /* module */
  border: 1px solid $black;

  &.is-disabled { /* state */
    border-color: $gray;
  }
}

.m-box--centered { /* modifier */
  text-align: center;
}

.m-box__header { /* module component */
  font-weight: bold;
}

.m-box__body { /* module component */
  padding: 10px;
}
