@import "../base/_settings.scss";
@import "../base/colors";

.m-path {
  .row{
    height: inherit;
    width: 100%;
    margin-bottom: 2%;
  }
  .m-path__item {
    background-color: $formula_green;
    color: white;
    width:100%;
    position: center;
    padding: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
    overflow: hidden;
    font-size: $font-size-small
  }
}
