@import "../base/settings";
@import "../base/colors";

.m-repository {
  height: 100%;

  .m-repository__header {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: $font-size-very-large;
    text-align: center;
  }
  .m-repository__fileview {
    height: 100%;
  }

  .m-repository__queryMode {
    margin-bottom: 1%;
  }

  .m-repository__query {
    margin-bottom: 4%;
  }

  .m-repository__detailsContainer {
    height: 50%;
  }
}
